language: generic
sudo: false
env:
  - TEST_SUITE=units
  - TEST_SUITE=integration
  - TEST_SUITE=esta
  - TEST_SUITE=otra
  
addons:
  postgresql: "9.3"
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - fontforge-nox
      - g++-4.8

script:
  - echo hihi
