language: generic
sudo: false

env:
  - BUILD_ENV=staging
  - BUILD_ENV=develop

script:
  - echo hola

deploy:
  provider: s3
  access_key_id: $ARTIFACTS_KEY
  secret_access_key: $ARTIFACTS_SECRET
  bucket: $ARTIFACTS_BUCKET
on:
    all_branches: true
    condition: [[ $TRAVIS_BRANCH != ^develop/ ]]
