language: generic
jobs:
  include:
    - env: AG_VER=master
      os: linux
      sudo: false
      addons: 
        apt:
          sources: &common_sources
            - ubuntu-toolchain-r-test
          packages: &vim74
            - vim
            - automake
            - pkg-config
            - libpcre3-dev
            - zlib1g-dev
      install: true
      script: echo hola
    - env: AG_VER=0.31.0
      os: linux
      sudo: false
      addons: 
        apt:
          sources: 
            - *common_sources
            - lucid
          packages: 
            - *vim74
            - time
      install: true
      script: echo hi
